[submodule "src/firmware/libraries/slap"]
	path = src/firmware/libraries/slap
	url = https://github.com/bjack205/slap.git
[submodule "src/simulator/--force"]
	path = src/simulator/--force
	url = https://github.com/bjack205/slap.git
[submodule "src/simulator/slap"]
	path = src/simulator/slap
	url = https://github.com/bjack205/slap.git
[submodule "src/firmware/libraries/RadioHead"]
	path = src/firmware/libraries/RadioHead
	url = https://github.com/adafruit/RadioHead.git
[submodule "src/firmware/libraries/EmbeddedMPC"]
	path = src/firmware/libraries/EmbeddedMPC
	url = https://github.com/bjack205/EmbeddedMPC.git
